<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.trackapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize|stateHidden">
        <activity android:name=".actv.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateMeetingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.LandingActivity" />
        <activity android:name=".activity.MyScheduleActivity" />
        <activity android:name=".activity.ExpenseActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.AddCustomerActivity" />
        <activity android:name=".activity.NewExpenseActivity" />
        <activity android:name=".activity.NewCustomerActivity" />
        <activity android:name=".activity.SendMessageActivity" />
        <activity android:name=".activity.ReminderActivity" />
        <activity android:name=".actv.PreRequestActivity" />
        <activity android:name=".actv.LoginActivity" />
        <activity android:name=".actv.ApprovalActivity" />
        <activity android:name=".actv.MeetingDetailsActivity" />
        <activity
            android:name=".actv.AddPreRequestActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver
            android:name=".util.AlarmReciver"
            android:enabled="true" />
        <receiver android:name=".util.LocationChangeReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDWDqyDgTE5jZNIxw_uRwKtBCY9xQPvGac" />

        <activity android:name=".activity.ExpenseListActivity" />
        <activity android:name=".activity.ExpenseReportActivity" />
        <activity android:name=".activity.PreRequestDetailActivity" />
        <activity android:name=".activity.PendingActivity" />
        <activity android:name=".activity.PendingDetailActivity" />
        <activity android:name=".activity.AttandanceActivity" />
        <activity android:name=".activity.SettingActivity"></activity>
    </application>

</manifest>